# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=
# Railway self-hosted YouTube API
RAILWAY_YT_API_URL=https://youtube-api-music-production-77fb.up.railway.app
RAILWAY_YT_API_KEY=jd7hSNs6ilyVu4i~EkFx4_yONJhz.5bx
COOKIES_DATA=